{% extends "forum_base.html" %}

{% block title %}{% trans %}Post a Thead{% endtrans %} {{ g.template_title_deliminater }} {% trans %}Forum{% endtrans %} {{ g.template_title_deliminater }} {{ g.site_title }}{% endblock %}

{% block primary_content %}
    <div class="thread-post">
        <h1 class="page-heading">{% trans %}Post a Thead{% endtrans %}</h1>

        <form id="thread-form" data-toggle="validator" role="form" method="post" class="prevent-ds">
            {{ form.csrf_token }}
            <div class="form-group select-section">
                <label>{% trans %}Select a Section{% endtrans %}</label>
                <select data-placeholder="{% trans %}The section is not selected{% endtrans %}" class="custom-select chosen-light" name="board_id"
                     data-msg-required="{% trans %}Please select the section{% endtrans %}" required>
                     <option></option>
                    {% for board in board_can_post %}
                        <option value="{{ board.id }}">{{ board.name }}</option>
                    {% endfor %}
                </select>
                {% if form.board_id.errors %}
                    <div class="help-block with-errors alert-error">
                        {% for error in form.board_id.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

            <div class="form-group forum-title-group">
                <label>{% trans %}Provide a Title{% endtrans %}:</label>
                <input type="text" placeholder="{% trans %}e. g. Question concerning a dataset...{% endtrans %}" class="form-control"
                       name="name" data-msg-required="{% trans %}Please fill out the title field{% endtrans %}" value="{{ form.name.data or '' }}" required>
                {% if form.name.errors %}
                    <div class="help-block with-errors alert-error">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label>{% trans %}Ask your question{% endtrans %}:</label>
                <textarea class="form-control" rows="8" placeholder="{% trans %}Write down what you are interested in...{% endtrans %}" name="content"
                          data-msg-required="{% trans %}Please fill out the question field{% endtrans %}" required>{{ form.content.data or '' }}</textarea>
                {% if form.content.errors %}
                    <div class="help-block with-errors alert-error">
                        {% for error in form.content.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

            <div class="post-footer">
                <span>* {% trans %}You can use Markdown formatting here{% endtrans %}</span>

                <button id="thread-submit" type="submit" class="btn btn-primary">{% trans %}Publish{% endtrans %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
        {{ super() }}  
        {% resource 'forum/javascript/autosize.js' %}
        {% resource 'forum/javascript/jquery.validate.js' %}     
        {% resource 'forum/javascript/forms_validate.js' %}
        {% resource 'forum/javascript/forum.js' %}
{% endblock %}

