{% extends "forum_base.html" %}

{% block title %}Активность - Форум | Data.gov.ua {% endblock %}

{% block primary_content %}
    <h1 class="page-heading">{{ _('Activity') }}</h1>
    <ul class="{% block resource_list_class %}resource-list{% endblock %} forum-activity">
        {% for act in activity %}
            <li class="resource-item" data-id="{{ act.id }}">
                <a class="heading" href="{{ act.url }}" title="{{ act.content|truncate(20) }}">
                    {{ act.type }}
                </a>
                <p class="description">{{ h.markdown_extract(act.content, extract_length=100) }}</p>
                <a href="{{ h.url_for(controller='user', action='read', id=act.author_name) }}">
                    {{ act.author_name }}
                </a> {{ h.time_ago_from_timestamp(act.created) }}
                <div class="dropdown btn-group">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {{ _('Ban') }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ act.ban_url }}">
                                <i class="fa fa-bar-chart-o"></i>
                                {{ _('Ban message') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ act.ban_url }}?with_user=1">
                                <i class="fa fa-bar-chart-o"></i>
                                {{ _('Ban message and user') }}
                            </a>
                        </li>
                    </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
