{% extends "page.html" %}

{% macro thread_section_style(name) -%}
    {% if name == "Відкриті дані Україна" %}
        open-data-ukraine
    {% elif name == "Відкриті дані Світ" %}
        open-data-world
    {% elif name == "Робота порталу" %}
        work
    {% endif %}
{%- endmacro %}

{% block secondary_content %}
    <section class="module module-narrow module-shallow">

        <div class="module-content">
            <p class="action">

                <a class="btn full-width" href="{{ h.url_for('forum_thread_add') }}">{% trans %}Post Thread{% endtrans %}</a>

            </p>
        </div>

        {% if c.userobj.sysadmin %}
            <div class="module-content">
                <p class="action">

                    <a class="btn full-width" href="{{ h.url_for('forum_board_add') }}">{% trans %}Create Section{% endtrans %}</a>

                </p>
            </div>
        {% endif %}
    </section>

    <section class="module module-narrow module-shallow">
        <div class="module-content">
            <a href="{{ h.url_for('forum_index') }}"><i class="fa fa-comments"></i>{% trans %}All Threads{% endtrans %}</a>
        </div>
        {% if c.userobj.sysadmin %}
        <div class="module-content">
            <a href="{{ h.url_for('forum_activity') }}"><i class="fa fa-clock-o"></i>{% trans %}Activity{% endtrans %}</a>
        </div>
        {% endif %}
        <h2 class="module-heading">{% trans %}Choose a Section{% endtrans %}</h2>
        <div class="module-content">
            {% for board in board_list %}
                <div class="thread-section {{ thread_section_style(board.name) }}">
                    {% if c.userobj.sysadmin %}
                        {% if board.active %}
                            <a class="action" href="{{ h.url_for('forum_board_hide', slug=board.slug) }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                            <a href="{{ board.get_absolute_url() }}">{{ board.name }}</a>
                        {% else %}
                            <a class="action" href="{{ h.url_for('forum_board_unhide', slug=board.slug) }}"><i class="fa fa-square-o" aria-hidden="true"></i></a>
                            <a class="muted" href="{{ board.get_absolute_url() }}">{{ board.name }}</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ board.get_absolute_url() }}">{{ board.name }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}