{% extends "page.html" %}

{% block primary_content %}
    <h1 class="page-heading">Форум</h1>
    <div class="thread-list">
        <div class="forum-thread media">
            <div class="media-left pull-left forum-avatar">
                <a href="#">
                    <img alt="64x64" class="media-object img-circle pull-left"
                         src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/10383001_10204183877732615_6652804351300092805_n.jpg?oh=f5e6678a0e15511321c3d9704efa9ada&amp;oe=5A961011">
                </a>

            </div>
            <div class="media-body forum-body">
                <h3 class="thread-heading">Повернення перенаправлень з повідомленням не працює</h3>
                <div class="thread-meta">
                    <div class="thread-section work"><a href="#">Робота порталу</a></div>
                    <div class="thread-author"><a href="#">ivankin</a></div>
                </div>
                <div class="thread-body">
                    <p>Привіт усім, я працюю над проектом і може повернути помилки на мої погляди не є проблемою, однак
                        при спробі повернути інші змінні, такі як "безлад ..."
                    </p>
                    <p>

                    </p></div>
            </div>

        </div>

        <div class="forum-thread media">
            <div class="media-left pull-left forum-avatar">
                <a href="#">
                    <img alt="64x64" class="media-object img-circle pull-left"
                         src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/14947961_1397278143635487_473930463249661719_n.jpg?oh=923bcecfd68697f59cd58c91b2f10800&amp;oe=5A895EFD">
                </a>

            </div>
            <div class="media-body forum-body">
                <h3 class="thread-heading">Аутентифікація API</h3>
                <div class="thread-meta">
                    <div class="thread-section open-data-ukraine"><a href="#">Відкриті дані Україна</a></div>
                    <div class="thread-author"><a href="#">petrov</a></div>
                </div>
                <div class="thread-body">
                    <p>У мене дві різні таблиці (Клієнти та Clientslog). У мене тільки один контролер. Функція знищення
                        в контролері використовується клієнтами. Як я можу де ...
                    </p>
                    <p>

                    </p></div>
            </div>

        </div>

        <div class="forum-thread media">
            <div class="media-left pull-left forum-avatar">
                <a href="#">
                    <img alt="64x64" class="media-object img-circle pull-left"
                         src="https://image.ibb.co/nJTQSw/user_avatar.png">
                </a>

            </div>
            <div class="media-body forum-body">
                <h3 class="thread-heading">60 секунд місцевого проти 2 секунд на виробництві</h3>
                <div class="thread-meta">
                    <div class="thread-section work"><a href="#">Робота порталу</a></div>
                    <div class="thread-author"><a href="#">sergey1972</a></div>
                </div>
                <div class="thread-body">
                    <p>Спроба модернізувати продукт Auth: user () Продукт за допомогою методу оновлення, але завжди
                        призводить до помилки. Користувач має багато продуктів () / Продукт belongsTo business () ....
                    </p>
                    <p>

                    </p></div>
            </div>

        </div>

        <div class="forum-thread media">
            <div class="media-left pull-left forum-avatar">
                <a href="#">
                    <img alt="64x64" class="media-object img-circle pull-left"
                         src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/10383001_10204183877732615_6652804351300092805_n.jpg?oh=f5e6678a0e15511321c3d9704efa9ada&amp;oe=5A961011">
                </a>

            </div>
            <div class="media-body forum-body">
                <h3 class="thread-heading">Як перевірити цей метод?</h3>
                <div class="thread-meta">
                    <div class="thread-section open-data-world"><a href="#">Відкриті дані Світ</a></div>
                    <div class="thread-author"><a href="#">ivankin</a></div>
                </div>
                <div class="thread-body">
                    <p>Привіт всім, мені потрібно передати об'єкт з вигляду на інший вигляд
                    </p>
                    <p>

                    </p></div>
            </div>

        </div>
    </div>

    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/blog" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>

                <li class="active">
                    <a href="/blog">1</a>
                </li>
                <li>
                    <a href="/blog?page=2">2</a>
                </li>
                <li>
                    <a href="/blog?page=3">3</a>
                </li>
                <li>
                    <a href="/blog?page=4">4</a>
                </li>
                <li>
                    <a href="/blog?page=5">5</a>
                </li>


                <li>
                    <a href="/blog?page=8">...</a>
                </li>

                <li>
                    <a href="/blog?page=12">122</a>
                </li>

                <li>
                    <a href="/blog?page=2" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block secondary_content %}
    <section class="module module-narrow module-shallow">

        <div class="module-content">
            <p class="action">

                <a class="btn full-width" href="/forum/add">Створити тему</a>

            </p>
        </div>

    </section>

    <section class="module module-narrow module-shallow">
        <div class="module-content">
            <a href="/forum"><i class="fa fa-comments "></i>Всі теми</a>

        </div>

        <h2 class="module-heading">Перейти до розділу</h2>
        <div class="module-content">
            {% for board in board_list %}
                <div class="thread-section work"><a href="#">{{ board.name }}</a></div>
            {% endfor %}
        </div>

    </section>
{% endblock %}

