{% extends "forum_base.html" %}

{% macro thread_section_style(name) -%}
    {% if name == "Відкриті дані Україна" %}
        open-data-ukraine
    {% elif name == "Відкриті дані Світ" %}
        open-data-world
    {% elif name == "Робота порталу" %}
        work
    {% endif %}
{%- endmacro %}

{% block title %}{{ thread.name }} - {{ thread.board.name }} - {% trans %}Forum{% endtrans %} |
    Data.gov.ua {% endblock %}

{% block links %}
{{ super() }}
{% resource 'forum/javascript/forum.js' %}
{% endblock %}

{% block primary_content %}
    <div class="forum-post-head">
        <h1 class="page-heading">{{ thread.name }}</h1>
        <div class="thread-meta">
            <div class="thread-section {{ thread_section_style(thread.board.name) }}">
                <a href="{{ thread.board.get_absolute_url() }}">{{ thread.board.name }}</a>
            </div>
            <div class="thread-author">
                <a href="{{ h.url_for(controller='user', action='read', id=thread.author.name) }}">{{ thread.author.name }}</a>
            </div>
            <div class="thread-date">{{ h.render_datetime(thread.created, with_hours=True) }}</div>
        </div>
    </div>

    <div class="forum-post-body">
        {{ h.render_markdown(thread.content) }}
    </div>

    <div class="forum-comments-container">
        {% for p in posts %}
            <div class="forum-comment media">
                <div class="media-left pull-left forum-avatar">
                    {{ h.gravatar((p.author.email_hash), size=64) }}
                </div>
                <div class="media-body comment-body">
                    <div class="comment-head">
                        <a href="{{ h.url_for(controller='user', action='read', id=p.author.name) }}">
                            {{ p.author.name }}
                        </a> {{ h.time_ago_from_timestamp(p.created) }}</div>

                    <div class="comment-body">
                        {{ h.render_markdown(p.content) }}
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

    <div class="forum-comment comment-action media">
        {% if c.userobj %}
            <div class="media-left pull-left forum-avatar">
                {{ h.gravatar((c.userobj.email_hash), size=64) }}
            </div>
            <div class="media-body comment-body">
                <form id="forum-post" method="post">
                    {{ form.csrf_token }}
                    <div class="form-group">

                        <textarea class="form-control" rows="4"
                                  placeholder="{% trans %}Write your answer...{% endtrans %}" name="content"></textarea>
                        {% if form.content.errors %}
                            <div class="help-block with-errors alert-error">
                                {% for error in form.content.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="comment-footer">
                        <span>* {% trans %}You can use Markdown formatting here{% endtrans %}</span>
                        <button id="post-submit" type="submit" class="btn btn-primary">{% trans %}Publish{% endtrans %}</button>
                    </div>

                </form>
            </div>
        {% else %}
            <p>{% trans %}You should be logged in to make posts.{% endtrans %}</p>
        {% endif %}

    </div>
{% endblock %}


